doctype html
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='frontloops workshops')
    meta(name='author', content=DiegoAz)
    meta(name='viewport', content='width=device-width initial-scale=1')
    title=frontloops

    //- CSS    
    link(rel='stylesheet', href='../css/master.css')
    
    //- Roboto
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Roboto:400,500,700')
  body
    block content



  


