
// COLORS

$white      = #ffffff
$gray       = #ABA7A7
$light-gray = lighten(#ABA7A7, 80%)
$blue       = #5572D6
$light-blue = #85A5D4
$yellow     = #FFD150
$black      = #000000
$dark-gray  = #333333  
  
@lost gutter 5px;
// 7436385