.payment-card
  lost-center 400px;
  background $white
  border-radius 5px
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  // lost-utility edit
 
  > .indicators
    width 45px
    margin 2.5% auto 0
   
  > .indicators > .circle
    width 7px
    height 7px
    margin-right 8px
    border-radius 50% 
    background darken($light-gray, 8%)
    display inline-block
  
  > .indicators > .active
    background $gray 
      

  > .payment-form
    font-family $text-font-stack
  
  > .title
    color $black
    text-transform uppercase
    text-align center
    font-size 1em 
    
  > .payment-form > .payment-option    
    border-top 1px solid $gray         
    
  > .payment-form > .payment-option > .label
    color $gray
    display inline-block
    padding 4%        
    height 100%
    width 100%    
    cursor pointer
    text-transform uppercase
    font-size 0.8em
    line-height 2em
    letter-spacing 0.05em
    font-weight bold       
    
    &:hover, &:focus, &:active
      background-color $light-gray
      color: lighten($black, 35%) 
           
    
  > .payment-form > .payment-option > .label > .image
    width 2.4em
    height 1.5em
    float left
    margin-right 10%    
    font-size 1.2em 
       
  > .payment-form > .payment-option > .label > .check
    float right
    opacity 0
    transition opacity 0.45s ease-out
   
  > .payment-form > .payment-option > .radio
    opacity 0
    width 0
    height 0
    
    &:active ~ .label
      color $black
      background-color darken($light-gray, 8%)
      
    &:checked ~ .label
      color $black
      background-color $light-gray
      
    &:active ~ .label > .check
      opacity 1      
      
    &:checked ~ .label > .check
      opacity 1  
    
  
  > .payment-form > .button
    button($blue, 16)
    font-family roboto
    width 100%
    text-transform uppercase
    // padding 5%    
    border-radius 0 0 5px 5px
    font-weight normal
    letter-spacing 0.1em
    display table-cell
    vertical-align middle
    line-height 36px
    
  > .payment-form > .button > .arrow
    position relative
    top 7px
    left 7px 
    
    
            
    
  

  
