.price-label
  text-align center   
      
.price-label .currency
  font-size 0.8em       
      
.price-label .value
  font-size 1.5em
  font-weight 600
  
.price-label .period
  font-size 0.6em
  margin-left 0.2em 
  word-spacing 0.1em